<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

    <div class="detalle">

      <h1>Bandas de <%= genero %></h1>

      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } else { %>
        <ul>
          <% bandas.forEach(b => { %>
            <li>
              <a href="/detalle/<%= b.id %>"><%= b.nombre %></a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <a href="/">⬅ Volver al inicio</a>

    </div>

  </body>
</html>